@import "tailwindcss";

:root {
	--background: #0c0d10;
	--foreground: #ffffff;

	--primary: #c2f800;
	--primary-muted: #1a2312;

	--card-background: #15171d;
	--text-muted: #9ca3af;

	--blackish: #090a0d;
	--stroke-muted: #1c1f26;
}

@theme {
	--color-primary: var(--primary);
	--color-primary-muted: var(--primary-muted);
	--color-card: var(--card-background);
	--color-muted: var(--text-muted);
	--color-blackish: var(--blackish);
	--color-stroke-muted: var(--stroke-muted);

	--font-oswald: var(--font-oswald);
	--font-inter: var(--font-inter);
}

@layer base {
	body {
		background-color: var(--background);
		color: var(--foreground);
		font-family: var(--font-inter), sans-serif;
	}

	h1 {
		font-family: var(--font-oswald), sans-serif;
		font-weight: 400;
		font-size: 3.75rem;
	}

	h2 {
		font-family: var(--font-oswald), sans-serif;
		font-weight: 700;
		font-size: 1.875rem;
	}

	h3 {
		font-family: var(--font-oswald), sans-serif;
		font-weight: 700;
		font-size: 1.125rem;
	}

	p {
		font-family: var(--font-inter), sans-serif;
		font-weight: 400;
		font-size: 1rem;
	}
}
